@font-face {
    font-family:"Gilroy - Extra Bold"; /* Имя шрифта */
    src: url(../fonts/Gilroyextrabold.ttf); /* Путь к файлу со шрифтом */
   }
   @font-face {
    font-family:"Open Sans"; /* Имя шрифта */
    src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
   }
 
   @font-face {
    font-family:"Gilroy"; /* Имя шрифта */
    src: url(../fonts/Gilroylight.ttf); /* Путь к файлу со шрифтом */
   }
   body {
    display : flex;
    flex-wrap : wrap;
    width : 1440px;
    height : 100%;
    margin : 0 auto;
    }
    .container {
    display : flex;
    flex-wrap : wrap;
    flex-direction : column;
    }
    a {
    text-decoration : none;
    color : #000000;
    }
    li {
    list-style : none;
    }
    .main-header {
    position : relative;
    width : 1160px;
    height : 299px;
    background-color : #f7e296;
    margin : 40px 140px auto 140px;
    display : flex;
    flex-direction : column;
    justify-content : flex-start;
    }
    a.header-logo {
    position : absolute;
    top : -26px;
    left : 38px;
    width : 164px;
    height : 36px;
    color : #000000;
    font-family : "Gilroy - Extra Bold";
    font-size : 48px;
    font-weight : 400;
    line-height : 48px;
    text-transform : uppercase;
    letter-spacing : 0.26px;
    }
    a.header-logo:hover {
    opacity : 0.60000002384185791015625;
    }
    a.header-logo {
    opacity : 0.300000011920928955078125;
    }
    .top-menu {
    display : flex;
    justify-content : flex-start;
    padding-top : 30px;
    align-items : flex-end;
    }
    form, input {
    outline : none;
    }
    input[type="search"] {
    padding : 0;
    background : border-box;
    border : none;
    width : 150px;
    height : 30px;
    color : #000000;
    font-family : "Open Sans";
    font-size : 15px;
    font-weight : 300;
    line-height : 30px;
    letter-spacing : 0.15px;
    margin-right : -4px;
    }
    .btn-search {
    visibility : hidden;
    border : black solid 2px;
    background: inherit;
    padding : 4px;
    }
    .btn-search:hover {
    color : white;
    background :black;
    }
    .search-field:focus + button {
    visibility : visible;
    }
    .search-field:active button {
        visibility : visible;
        }

    .search-field:focus {
    color : black;
    border : none;
    border-bottom : 2px solid black;
    opacity : 1;
    }
    .btn-search:focus {
    background : black;
    }
    .main-header a:hover {
    opacity : 0.60000002384185791015625;
    }
    .main-header a:focus {
    opacity : 0.300000011920928955078125;
    }
    .menu-catalog-link, .menu-delivery, .menu-garanty, .menu-contacts {
    width : 214px;
    height : 12px;
    color : #000000;
    font-family : "Gilroy - Extra Bold";
    font-size : 18px;
    font-weight : 400;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 3.6px;
    }
    .menu-catalog::after {
    content : " ";
    background-image : url("../img/plus.svg");
    background-repeat : repeat;
    background : #000000;
    font-size : 14px;
    display : inline-block;
    }
    .top-menu li:nth-child(1) {
    flex-basis : 49%;
    }
    .top-menu li:nth-child(2) {
    flex-basis : 32%;
    }
    .top-menu li:nth-child(3) {
    flex-basis : 9%;
    }
    .top-menu li:nth-child(4) {
    flex-basis : 10%;
    }
    .bottom-menu {
    display : flex;
    flex-direction : row;
    }
    .bottom-menu > li:first-child {
    flex-basis : 49%;
    }
    .bottom-menu > li:nth-child(2) {
    flex-basis : 16%;
    }
    .bottom-menu > li:nth-child(3) {
    flex-basis : 20%;
    }
    .bottom-menu > li:nth-child(4) {
    flex-basis : 15%;
    }
/* оформление каталога */
    .catalog-monopod-for-selfie{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        }
        .catalog-monopod-for-selfie h1{
        width: 483px;
        height: 42px;
        color: #000000;
        font-family: "Gilroy";
        font-size: 47px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0.17px;
        margin-left: 201px;
        }
        .breadcrumbs{
        display: flex;
        margin-left: 201px;
        padding-left: 0px;
        margin-top: 29px;
        }
        .general-forms{
            display: flex;
            
        }

        .chek{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background:#eeeeee;
            height: 1287px;
            flex-basis: 63%;
            
        }

        b{
            padding-left: 195px;
        }
        .color-check{
            display: flex;
            flex-direction: column;
            padding-left: 195px;
        }
        .bluetoth-check{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-left: 195px;
        }
        .filter-btn{
            margin-left: 195px;
        }
        .right-side{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            flex-basis: 138%;
            
        }

        
        .catalog-aside-title{
            padding: 20px;
            padding-left: 195px;
            background: #dbdbdb;
            color: #000000;
            font-family: "Gilroy";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.91px;
            margin: 0px;
        }

        .main-menu-catalog{
            display: flex;
            align-self: stretch;
            background: #eeeeee;
            padding: 7px;
            
        }
        .sort-navigation{
            display: flex;  

        }

        .catalog-asortement {
            display: flex;
            flex-wrap: wrap;
            padding-top: 82px;
        }
        
        
        .catalog-item:not(:nth-of-type(3)){
            margin-left:72px;
        }
        .catalog-item:nth-of-type(4),
        .catalog-item:nth-of-type(3){
            margin-top: 60px;
            margin-left:72px;
        }
    
        .catalog-item-image{
            width: 360px;
            height: 380px;
           
        }
        
        .sort-navigation{
            display: flex;
            justify-content: flex-end;
            background: #eeeeee;
            align-items: baseline;
            margin: 0px;
            padding-right: 73px;
            padding-top: 22px;
            padding-bottom: 22px;
        }
        .sort-navigation li:first-child{
width: 145px;
height: 18px;
color: #000000;
font-family: "Gilroy";
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 0.91px;
flex-basis: 17%;
        }
        .sort-navigation li:nth-child(2){
width: 56px;
height: 18px;
color: #000000;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 18px;
flex-basis: 10%;
        }
        .sort-navigation li:nth-child(3){

width: 54px;
height: 18px;
opacity: 0.3;
color: #000000;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 18px;
flex-basis: 9%;
        }
        .sort-navigation li:nth-child(4){
            /* Style for "По типу" */
width: 120px;
height: 18px;
opacity: 0.3;
color: #000000;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 18px;
flex-basis: 50%;
        }
        .sort-navigation li:nth-child(5){
            /* Style for "icon-up-di" */
width: 11px;
height: 10px;
opacity: 0.2;
flex-basis: 2%;
        }
        .sort-navigation li:nth-child(6){
flex-basis: 8%;
width: 11px;
height: 10px;

        }


        .paginator {   
             margin-right: 124px;
            margin-left: 66px;
            width: 100%;
            padding: 15px;
            padding-left: 13px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            background: #eeeeee;
        }
        .paginator li:first-child{
            flex-basis: 43%;
        }
        .paginator li:last-child{
            flex-basis: 10%;
        }
        .paginator li:nth-child(4){
            flex-basis: 35%
        }
        .paginator li:nth-child(3){
            flex-basis: 5%;
        }
        .paginator li:nth-child(2){
            flex-basis: 5%
        }

        
        



        footer {
            display : flex;
            flex-direction : column;
            justify-content : space-around;
            width : 1440px;
            height : 323px;
            background-color : #464646;
            color : #ffffff;
            padding : 65px 100px 67px 100px;
            }
            footer > a {
            color : #ffffff;
            }
            .main-footer a:hover {
            opacity : 0.60000002384185791015625;
            }
            .main-footer a:focus {
            opacity : 0.300000011920928955078125;
            }
            .footer-top-nav {
            display : flex;
            flex-direction : row;
            }
            .footer-top-nav-list {
            display : flex;
            justify-content : flex-start;
            align-items : center;
            }
            .footer-logo-link {
            width : 163px;
            height : 36px;
            color : #ffc600;
            font-family : "Gilroy - Extra Bold";
            font-size : 48px;
            font-weight : 400;
            text-transform : uppercase;
            letter-spacing : 0.48px;
            }
            .footer-menu-items-link {
            width : 42px;
            height : 11px;
            opacity : 0.699999988079071044921875;
            color : #ffffff;
            font-family : "Open Sans";
            font-size : 15px;
            font-weight : 300;
            line-height : 36px;
            letter-spacing : 0.15px;
            }
            .footer-top-nav-list li:nth-child(1) {
            flex-basis : 76%;
            }
            .footer-top-nav-list li:nth-child(2) {
            flex-basis : 10%;
            }
            .footer-top-nav-list li:nth-child(3) {
            flex-basis : 9%;
            }
            .footer-top-nav-list li:nth-child(4) {
            flex-basis : 5%;
            }
            .footer-midle-nav {
            display : flex;
            justify-content : flex-start;
            align-items : baseline;
            }
            .footer-midle-nav a {
            width : 121px;
            height : 15px;
            color : #ffffff;
            font-family : "Gilroy - Extra Bold";
            font-size : 18px;
            font-weight : 400;
            line-height : 24px;
            text-transform : uppercase;
            letter-spacing : 3.6px;
            }
            .footer-midle-nav li:nth-child(1) {
            flex-basis : 30%;
            }
            .footer-midle-nav li:nth-child(2) {
            flex-basis : 15%;
            }
            .footer-midle-nav li:nth-child(3) {
            flex-basis : 15%;
            }
            .footer-midle-nav li:nth-child(4) {
            flex-basis : 26%;
            }
            .footer-midle-nav li:nth-child(5) {
            flex-basis : 14%;
            }
            .social-links-list {
            display : flex;
            justify-content : flex-end;
            }
            .social-links-fb {
            content : url(../img/fb.svg);
            }
            .social-links-instagram {
            content : url(../img/instagram.svg);
            }
            .social-links-twiter {
            content : url(../img/twitter.svg);
            }
            .html-logo-bottom a {
            content : url(../img/logo-html.svg);
            }
            .social-links-item-fb {
            flex-basis : 5%;
            }
            .social-links-item-instagram {
            flex-basis : 5%;
            }
            .social-links-item-twiter {
            flex-basis : 45%;
            }
            .html-logo-bottom {
            flex-basis : 2%;
            }




    /*страница КАТАЛОГ*/

