@font-face{
    font-family:"Gilroy";
    font-weight:900;
    src:url(../fonts/gilroyextrabold.woff) format("woff"),
    url(../fonts/gilroyextrabold.woff2) format("woff2")
}
@font-face{
    font-family:"Gilroy";
    font-weight:300;
    src:url(../fonts/gilroylight.woff) format("woff"),
    url(../fonts/gilroylight.woff2) format("woff2")
}

@font-face{
    font-family:"Open Sans";
    font-weight: 400;
    src:url(../fonts/opensans.woff) format("woff"),
    url(../fonts/opensans.woff2) format("woff2")
}
@font-face{
    font-family:"Open Sans";
    font-weight:300;
    src:url(../fonts/opensanslight.woff) format("woff"),
    url(../fonts/opensanslight.woff2) format("woff2")
}




   body {
    font-family: "Open Sans",Arial,sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    }
    
    .container {
    display : flex;
    width: 100%;
    min-width: 1200px;
    flex-wrap : wrap;
    flex-direction : column;
    }
    

    a {
    text-decoration : none;
    color : #000000;
    }
    li {
    list-style: none;
    }
    .main-header {
    position : relative;
    width : 1160px;
    padding: 0 20px;
    height : 265px;
    background-color : #f7e296;
    margin : 40px auto auto auto;
    display : flex;
    padding-top : 34px;
    flex-direction : column;
    justify-content : flex-start;
    }
    .header-logo {
    position : absolute;
    top : -26px;
    left: 59px;
    width : 164px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 48px;
    font-weight : 700;
    line-height : 48px;
    text-transform : uppercase;
    letter-spacing : 0.26px;
    }
    .header-logo:hover {
    opacity : 0.60000002384185791015625;
    }
    .header-logo {
    opacity : 0.300000011920928955078125;
    }
    .top-menu {
    display : flex;
    justify-content : flex-end;
    align-items: baseline;
    margin-top: 0;
    
    }
   
    input[type="search"] {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-sizing: border-box;
        
        min-height: 49px;
        width: 355px;
        padding-right: 10px;
        padding-left: 38px;
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        font-family: "Open Sans", Arial, sans-serif;
        letter-spacing: 0.15px;
        background-color: transparent;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: 3px 17px;
        border-style: none;
        outline: 0;
    }
    .btn-search {
    visibility : hidden;
    border : black solid 2px;
    background: inherit;
    padding : 15px;
    margin-left: -4px;
    }
    .btn-search:hover {
    color : white;
    background :black;
    }
    .search-field:focus + button {
    visibility : visible;
    
    }
    .search-field:active button {
        visibility : visible;
        }

    .search-field:focus {
    color : black;
    border : none;
    border-bottom : 2px solid black;
    opacity : 1;
    outline : none;
    }
    .btn-search:focus {
    background : black;
    }
    .main-header a:hover {
    opacity : 0.60000002384185791015625;
    }
    .main-header a:focus {
    opacity : 0.300000011920928955078125;
    }
    .menu-catalog-link, .menu-delivery, .menu-garanty, .menu-contacts {
    width : 214px;
    height : 12px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 3.6px;
    }
    .sub-menu::before{
    content: "";
    top: 0;
    height: 157px;
    z-index: -1;
    left: -60px;
    width: 1160px;
    padding: 0 20px;
    padding-top: 0;
    position: absolute;
    background-color: #f7e296;
}
    
    .sub-menu{
        position: relative;
        display: none;
        z-index: 5;
        padding: 0;
        padding-top: 22px;
        max-height: 300px;


    
color: #000000;
font-family: "Open Sans";
font-size: 15px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0.15px;
    }

    .sub-menu:hover, .menu-catalog-link:hover+.sub-menu{
        display: flex;
        flex-wrap: wrap;
    }



    .sub-menu li:first-child{
        width: 181px;
        margin-right: 40px;
    }
    .sub-menu li:nth-child(2){
        width: 130px;
        margin-right: 40px;
    }
    .sub-menu li:nth-child(3){
        width: 148px;
    }
    .sub-menu li:nth-child(4){
        width: 200px;
        margin-right: 23px;
    }
    .sub-menu li:nth-child(5){
        width: 200px;
    }
    .sub-menu li:nth-child(6){
        width: 200px;
    }

    
   /*иконки ТОР меню*/
    .user-name{
    flex-basis : 49%;
    }
    .user-blok {
    flex-basis : 286px;
    }
    
    .compare-blok {
    flex-basis : 143px;
    
    }
    .basket-blok{
    flex-basis : 154px;
    }
     .search-form{
        flex-basis: 50%;
    }
    .top-menu li a,
    .footer-menu-items-link{
        padding-left: 25px;
        text-align: right;
    }
    .top-menu li, 
    .footer-top-nav-list li{
        position: relative;
    }
   
    .basket-blok a::before{
            content: "";
            position: absolute;
            top: 4px;
            left: 3px;
            width: 12px;
            height: 12px;
            background-image: url(../img/cart.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .compare-blok a::before {
            content: "";
            position: absolute;
            top: 6px;
            left: 5px;
            width: 10px;
            height: 10px;
            background-image: url(../img/compare.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .user-name::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 13px;
            height: 12px;
            background-image: url(../img/user.svg);
            background-repeat: no-repeat;
            background-position: center;
        }
        .user-enter::before{
        content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 13px;
    height: 12px;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    background-position: center;    
    }

    








    .bottom-menu {
    display : flex;
    flex-direction : row;
    }
    .bottom-menu li{
        position: relative;
    }
    .menu-catalog{
    flex-basis : 49%;
    
    }
    .menu-catalog-link{
        padding-right: 29px;
    }
    .menu-catalog-link::after {
        content: "";
        position: absolute;
        top: 4px;
         left: 224px;
         width: 14px;
         height: 14px;
        background-image: url(../img/plus.svg);
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.3;
    }
    .bottom-menu > li:nth-child(2) {
    flex-basis : 16%;
    }
    .bottom-menu > li:nth-child(3) {
    flex-basis : 20%;
    }
    .bottom-menu > li:nth-child(4) {
    flex-basis : 15%;
    }
    
  
    
    

    /* СЛАЙДЕР*/
    .slider {
    display : flex;
    flex-direction : column;
    position : relative;
    margin : -80px auto auto auto;
    }
    .slider-control {
    position : absolute;
    top : 286px;
    right : 81px;
    z-index : 1;
    }
    .slide-item {
    position : relative;
    display : flex;
    width : 1160px;
    padding: 0 20px;
    height : 100%;
    justify-content : space-evenly;
    }
    .slide-item-stand  img {
    width : 384px;
    height : 486px;
    }
    
    .slide-item-bracelet img {
    width : 345px;
    height : 485px;
    }
    .slider-item-kwadrocopter div:nth-child(1) {
    flex-basis : 45%;
    }
    .slider-item-kwadrocopter div:nth-child(2) {
    flex-basis : 49%;
    }
    .slider-item-kwadrocopter h2 {
    width : 502px;
    height : 90px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 56px;
    letter-spacing : 0.17px;
    }
    .slider-item-description-number {
            position: absolute;
            top: -68px;
            right: -83px;
            width: 198px;
            height: 131px;
            color:white;
            font-family: "Gilroy",Arial,sans-serif;
            font-size: 179px;
            font-weight: 700;
            line-height: 179.2px;
            letter-spacing: 0.36px;
    }
    .kwadro-number{
        right: 0;

    }
    .slider-item-description{
        position: relative;
    }
    .slider-item-description::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 7px;
        bottom: 0;
        background-color:white;
    }

    .slider-item-description-title {
    width : 394px;
    height : 98px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 56px;
    letter-spacing : 0.17px;
    }
    .slider-item-description-text {
    width : 481px;
    height : 46px;
    color : #464646;
    font-family :"Open Sans",Arial,sans-serif;
    font-size : 15px;
    font-weight : 300;
    line-height : 30px;
    letter-spacing : 0.15px;
    margin-bottom : 62px;
    }
    .slider-item-description-btn {
    width : 133px;
    height : 8px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : linear-gradient(to top, white 0%, white 35%, #f0c52e 35%, #f0c52e 70%, white 70%);
    padding-left : 20px;
    padding-right : 20px;
    }
    .slider-item-description-btn:hover {
    width : 133px;
    height : 8px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : none;
    background-color : #f0c52e;
    padding : 20px;
    }
    table {
    margin-top : 48px;
    }

    .features-lenght-of-stand,
     .features-kwadrocopter-fly-lenght, 
     .features-work-hours {
    width : 84px;
    height : 31px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 36px;
    font-weight : 300;
    line-height : 48px;
    letter-spacing : 0.36px;
    }
    .features-width-of-stand, 
    .features-kwadrocopter-fly-radius{
    width : 66px;
    height : 26px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 36px;
    font-weight : 300;
    line-height : 48px;
    letter-spacing : 0.36px;
    padding-left : 80px;
    }
    .features-width-of-stand{
        width: 95px;
    }
    .features-material-of-stand {
    width : 124px;
    height : 34px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 36px;
    font-weight : 300;
    line-height : 48px;
    letter-spacing : 0.36px;
    padding-left : 80px;
    }
    .specification-lenght-of-stand, 
    .specification-work-hours, 
    .specification-kwadrocopter-fly-lenght {
    width : 25%;
    height : 11px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 13px;
    font-weight : 300;
    line-height : 20px;
    letter-spacing : 0.13px;
    }
    .specification-width-of-stand, 
    .specification-kwadrocopter-fly-radius{
    width : 60px;
    height : 9px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 13px;
    font-weight : 300;
    line-height : 20px;
    letter-spacing : 0.13px;
    padding-left : 80px;
    }
    .specification-material-of-stand{
    width : 60px;
    height : 12px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 13px;
    font-weight : 300;
    line-height : 20px;
    letter-spacing : 0.13px;
    padding-left : 80px;
    }


    /*ПОПУЛЯРНЫЕ ТОВАРЫ*/
    .popular-items-section {
    
    margin-top : 106px;
    margin-bottom: 170px;
   
    }
    .popular-items-list {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    padding : 0;
    width : 1160px;
    padding: 0 20px;
    margin: 0 auto;
    }
    .popular-items-list p {
    width : 160px;
    height : 39px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    letter-spacing : 0.18px;
    }
    .popular-items-bg {
    height : 160px;
    width : 160px;
    background-color : #f7e296;
    }
    .popular-items:hover div {
    background-color : #f0c52e;
    }
    .popular-items:active p {
    opacity : 0.300000011920928955078125;
    }
    .popular-items:active img {
    opacity : 0.300000011920928955078125;
    }
    .popular-items:focus p {
    opacity : 0.300000011920928955078125;
    }
    .popular-items:focus img {
    opacity : 0.300000011920928955078125;
    }
    .popular-items-bg-img-virtual {
    width : 97px;
    height : 55px;
    margin : 52px 32px 53px 31px;
    }
    .popular-items-bg-img-monopod{
    width : 86px;
    height : 117px;
    margin : 41px 36px 2px 38px;
    }
    .popular-items-bg-img-camera{
    width : 71px;
    height : 87px;
    margin : 38px 40px 35px 49px;
    }
    .popular-items-bg-img-fitnes-bracelet{
    width : 107px;
    height : 65px;
    margin : 50px 25px 45px 28px;
    }
    .popular-items-bg-img-smart-watch{
    width : 56px;
    height : 98px;
    margin : 32px 49px 30px 55px;
    }
    .popular-items-bg-img-kvadro{
    width : 132px;
    height : 69px;
    margin : 49px 15px 42px 13px;
    }





    /*БРЕНДЫ */
    .brands {
    display : flex;
    width: 1160px;
    padding: 0 20px;
    margin : 0 auto 94px auto;
    justify-content : space-evenly;
   
    }
    .brands img {
    width : 260px;
    height : 100px;
   }
   .brands a:not(:first-child){
       margin-left:40px;
   }
    .brands-item-dji img:hover {
    background-image : url(../img/logo-1-hover.png);
    }
    .brands-item-spgadgets img:hover {
    background-image : url(../img/logo-2-hover.png);
    }
    .brands-item-gopro img:hover {
    background-image : url(../img/logo-3-hover.png);
    }
    .brands-item-vive img:hover {
    background-image : url(../img/logo-4-hover.png);
    }






    /*СЕРВИС */
    .service {
        min-height: 288px;
        background-color: #e5e5e5;
        margin-bottom: 94px;
    }
    .service-container {
        display: flex;
        justify-content: center;
        width: 1160px;
        padding: 0 20px;
        margin: 0 auto;
        background-color: transparent;
        position: relative;
        top: -42px;
    }

    input[name="serviceradiobtn"] {
    display : none;
    }
    .service-controls-delivery {
    margin-bottom: 40px;
    }
    .service-controls-garanty {
   margin-bottom: 40px;
    }
    .service-controls-credit {
   margin-bottom: 40px
    }
    .service-controls-btn label {
    background: linear-gradient(to top, #e5e5e50d 0%, #e5e5e500 40%, #f0c52e 40%, #f0c52e 60%, #e5e5e500 60%);
    padding: 10px 20px 10px 20px;
    
}
    .service-controls-btn label:hover {
    background : #f0c52e;
    padding : 10px 20px 10px 20px;
    }
    .service-controls-delivery label:active, .service-controls-delivery label:focus {
    background : black;
    padding : 10px 54% 10px 20px;
    outline : none;
    color : #f7e184;
    }
    .service-controls-garanty label:active, .service-controls-garanty label:focus {
    background : black;
    padding : 10px 57% 10px 20px;
    outline : none;
    color : #f7e184;
    }
    .service-controls-credit label:active, .service-controls-credit label:focus {
    background : black;
    padding : 10px 66% 10px 20px;
    outline : inherit;
    color : #f7e184;
    }
    .service-controls {
        width: 294px;
    display : flex;
    border-right : 7px solid black;
    flex-direction : column;
    justify-content : flex-end;
    margin-top : 0;
    margin-bottom: 0px;
    margin-left: 0;
    padding-left: 0px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    }
    .about-us-btn {
    width : 207px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding : 10px 20px 10px 20px;
    }
    .about-us-btn:hover {
    width : 207px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : none;
    background-color : #f0c52e;
    padding : 10px 20px 10px 20px;
    }
    .service-content {
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: -25px;
    
    width: 783px;
    padding-left: 116px;
  
    }
    .content-service-title {
    width : 217px;
    height : 39px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 48px;
    letter-spacing : 0.21px;
    }
    .content-service-description {
    width : 456px;
    height : 75px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 15px;
    font-weight : 300;
    line-height : 30px;
    letter-spacing : 0.15px;
    }
    .content-service-delivery {
    background-image : url(../img/delivery.svg);
    background-repeat : no-repeat;
    background-position-x : 100%;
    background-position-y : 100%;
    }
    .content-service-garanty {
    background-image : url(../img/warranty.svg);
    background-repeat : no-repeat;
    background-position-x : 100%;
    background-position-y : 100%;
    }
    .content-service-kredit {
    background-image : url(../img/credit.svg);
    background-repeat : no-repeat;
    background-position-x : 100%;
    background-position-y : 100%;
    }
    .content-service-delivery, .content-service-kredit {
    display : none;
    }




    /* БЛОК КОНТАКТЫ И ОНАС*/
    .about-contacts {
        width: 1160px;
        padding: 0 20px;
        margin: 0 auto;
    display : flex;
    justify-content : space-evenly;
    margin-bottom: 93px;
    }
    .main-about-us, .main-contacts {
    justify-content : flex-start;
    display : flex;
    flex-direction : column;
    position: relative;
    }
    .description-about-us-title {
    width : 100%;
    height : 35px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 48px;
    letter-spacing : 0.21px;
    }
    .about-contacts p {
    width : 511px;
    height : 46px;
    color : #464646;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 15px;
    font-weight : 300;
    line-height : 30px;
    margin-top : 30px;
    }
    .main-about-us ul {
    list-style-type : circle;
    margin-top : 50px;
    }
    .main-about-us li {
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 16px;
    font-weight : 700;
    line-height : 40px;
    list-style: circle;
    }

    .main-about-us::before ,
    .main-contacts::before{
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 7px;
        bottom: 0;
        background-color:black;
    }




    .description-main-contacts-title {
    width : 100%;
    height : 34px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 47px;
    font-weight : 700;
    line-height : 48px;
    letter-spacing : 0.21px;
    }
    .main-contacts img {
    width : 560px;
    height : 222px;
    margin-top : 44px;
    margin-bottom : 83px;
    }
    .about-us-btn {
    margin-top : 70px;
    width : 50%;
    }
    .about-us-btn {
    width : 207px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding : 10px 20px 10px 20px;
    }
    .about-us-btn:hover {
    width : 207px;
    height : 24px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : none;
    background-color : #f0c52e;
    padding : 10px 20px 10px 20px;
    }
    .main-contacts-btn {
    width : 50%;
    height : 44px;
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding : 10px 20px 10px 20px;
    border : none;
    }
    .main-contacts-btn:hover {
    background : #f0c52e;
    }
    .main-contacts-btn:focus {
    outline : none;
    }



/* оформление каталога */
.catalog-contaiter {
    width: 100%;
    margin-top: -130px;
    z-index: 1;
}
.catalog-title {
    display: flex;
    flex-direction: column;
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    background: white;
}


    .catalog-monopod h1{
    width: 1100px;
    height: 42px;
    color: #000000;
    font-family: "Gilroy",Arial,sans-serif;
    font-size: 47px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.17px;
    margin-left: 40px;
    }
    .breadcrumbs{
    display: flex;
    padding-left: 0px;
    margin-top: 29px;
    margin-left: 40px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    font-family: "Open Sans",Arial,sans-serif;
    letter-spacing: 0.14px;
    }
    .breadcrumbs li {
        padding-right: 39px;
        letter-spacing: .012em;
        word-spacing: 0.012em;
    }
    .breadcrumbs a {
        height: 18px;
        padding-right: 23px;
    }

    
    .breadcrumbs li:not(:last-child):after {
        content: "";
        position: absolute;
        width: 7px;
        height: 25px;
        background-image: url(../img/nav-arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
    .general-forms{
        display: flex;
        background: linear-gradient(to bottom, #dbdbdb 70px, #eeeeee 70px, #eeeeee 100%);
        margin: 0 auto;
        width: 1160px;
        padding: 0 20px;
        
    }
    .toogle{
    position: relative;
    margin: 0;
    padding: 0 0 32px;
    border: none;
    border-top: 2px solid black;
    }
    .chek {
        width: 268px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        align-items:center;
        background: #eeeeee;
        height: 100%;
        
    }
    .chek>form{
        padding-top: 69px;
    }

    .color-check{
        display: flex;
        flex-direction: column;
        margin-bottom: 31px;
    
    }
    .bluetoth-check{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 31px;
    }

    .filter-option-item{
        width: 162px;
        height: 40px;
        position: relative;
    }
/* разметка чекбоксов*/
    .filter-option-title::before {
        content: "";
        position: absolute;
        left: -15px;
        background-repeat: no-repeat;
        background-position: left;
        top: 0px;
    width: 27px;
    height: 23px;
    }
    .filter-checkbox-field:checked + .filter-option-title:active::before, 
    .filter-option-title::before {
        
        background-image: url(../img/checkbox-off.svg);
    }

    .filter-checkbox-field:not(:checked) + .filter-option-title:active::before, 
    .filter-checkbox-field:checked + .filter-option-title::before {
        background-image: url(../img/checkbox-on.svg);
    }



    /* разметка радиокнопок */ 
    .filter-radio-field:not(:checked) + .filter-option-title:active::before, 
    .filter-radio-field:checked + .filter-option-title::before {
        background-image: url(../img/radio-on.svg);
    }

    .filter-radio-field:checked + .filter-option-title:active::before, 
    .bluetoth-check .filter-option-title::before {
        top: -4px;
        width: 25px;
        height: 25px;
        background-image: url(../img/radio-off.svg);
    }
    .filter-option-title::before {
        content: "";
        position: absolute;
        left: -40px;
        background-repeat: no-repeat;
        background-position: left;
    }
 /* стилизация кнопки фильтра каталога*/
    .filter-btn {
        width : 200px;
        height : 44px;
        color : #000000;
        font-family : "Gilroy",Arial,sans-serif;
        font-size : 18px;
        font-weight : 700;
        text-transform : uppercase;
        letter-spacing : 2.15px;
        background: linear-gradient(to top, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%);
        padding: 10px 20px 10px 20px;
        padding : 10px 20px 10px 20px;
        border : none;
        }
        .filter-btn:hover {
        background : #f0c52e;
        }
        .filter-btn:focus {
        outline : none;
        }
    
    .right-side{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      
        
    }
 

    
    .catalog-aside-title{
        width: 200px;
    margin: 0;
    padding-right: 68px;
    padding-top: 23px;
    padding-bottom: 23px;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.7px;
    background: #dbdbdb
    }

    .main-menu-catalog{
        display: flex;
        align-self: stretch;
        background: #eeeeee;
        padding: 7px;
        
    }


    /* сортировка*/
    .sort-catalog{
        display: flex;
        background: #eeeeee;
        align-items: baseline;
    }
    .sort-navigation{
        display: flex;
        
    }

    .sort-navigation {
        display: flex;
        background: #eeeeee;
        align-items: center;
        margin: 0px;
        height: 70px;
        padding-left: 50px;
        
    }
    .catalog-sort-title{
width: 145px;
margin-left: 47px;
font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.7px;

    }
    .sort-navigation li:nth-child(1){
width: 120px;
height: 18px;
color: #000000;
font-family: "Open Sans",Arial,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 18px;

    }
    .sort-navigation li:nth-child(2){

width: 120px;
height: 18px;
opacity: 0.3;
color: #000000;
font-family: "Open Sans",Arial,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 18px;
    }
    .sort-navigation li:nth-child(3){
        
width: 120px;
height: 18px;
opacity: 0.3;
color: #000000;
font-family: "Open Sans",Arial,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 18px;
flex-basis: 140px;
    }

.sort-icon{
    display: flex;
    padding: 0;
    padding-left: 228px;
   
}

    .sort-up{ 
width: 11px;
height: 10px;
opacity: 0.2;
flex-basis: 2%;
    }
    .sort-down{
width: 11px;
height: 10px;
margin-left: 20px;

    }


/* каталог товаров*/

    .catalog-asortement {
        display: flex;
        flex-wrap: wrap;
        width: 800px;
        padding-bottom: 72px;
        padding-left: 72px;
        padding-top: 69px;
        background: white;
    }

    



 





        



    .dilettantish-item{
        margin-right:40px;
    }
    .pool-item{
        margin-right:40px;
    }
    .pool-item,
    .hand-item{
        margin-top: 73px;
    }
    .professional-item,
    .hand-item{
        margin-left: 40px;
    }
    
    .catalog-item-image{
        width: 360px;
        height: 380px;
        padding-bottom: 32px;
    }
    

    /*реализация ховера на содержимом каталоге */
.catalog-button{
    width: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    padding-left: 80px;
    padding-right: 80px;
    left: 0;
    z-index: 1;
    height: 208px;
    padding-top: 172px;
    background-color: rgba(238, 238, 238, 0.7);
    visibility: hidden;
}
.catalog-button:hover,.catalog-item-image:hover~.catalog-button{
    visibility: visible;
}
 .catalog-link{
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
 }
  

.catalog-item-value{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    font-family: "Gilroy", Arial, sans-serif;
    text-align: right;
    color: #464646;
    letter-spacing: 0.45px;

}




   
    .btn-catalog-busket{
        width: 200px;
        color: #000000;
        font-family: "Gilroy",Arial,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
        text-transform: uppercase;
        letter-spacing: 2.15px;
        background: linear-gradient(to top, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 35%, #f0c52e 35%, #f0c52e 70%, rgba(238,238,238,0) 70%);
        text-align: center;
    }
    .btn-catalog-busket:hover{
        background: #f0c52e;
    }

    .btn-catalog-compare{
    text-align: center;
    color: rgba(0,0,0,.5);
    width: 200px;
    font-size: 13px;
}
.btn-catalog-compare:hover{
    color: rgba(0,0,0,1); 
}
    .catalog-item{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .catalog-price{
    display: flex;
    justify-content: space-between;
    }
    

    

/* кнопки страниц */

    .paginator {   
        
        width: 100%;
        height: 70px;
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #eeeeee;
    }
    .paginator-prev a,
    .paginator-next a{
        width: 85px;
        padding: 25px 20px;
        color: #000;
        
    }

    .paginator-pages{
        margin-right: 12px;
        margin-left: 12px;
        font-size: 14px;
        
    }
    
    .paginator li:first-child{
        flex-basis: 43%;
    }
    .paginator li:last-child{
        flex-basis: 10%;
    }
    .paginator li:nth-child(4){
        flex-basis: 35%
    }
    .paginator li:nth-child(3){
        flex-basis: 5%;
    }
    .paginator li:nth-child(2){
        flex-basis: 5%
    }








    /* ФУТЕР */
    .social-links-list::before {
        display: block;
        content: "";
        position: relative;
        top: 10px;
        right: 431px;
        
        width: 80px;
        height: 7px;
        bottom: 0;
        background-color: #f7e184;
    }

    
    .main-footer {
        min-width: 1200px;
        width: 100%;
        min-height: 209px;
        padding-top: 54px;
        padding-bottom: 60px;
        background-color: #464646;
        
    
    }
    .footer-container{
           display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1160px;
    padding: 0 20px;
    background-color: #464646;
    color: #ffffff;
    margin: 0 auto;
    }
    .main-footer > a {
    color : #ffffff;
    }
    
    .main-footer a:hover {
    opacity : 0.6;
    }
    .main-footer a:focus {
    opacity : 0.3;
    }
    .footer-top-nav {
    display : flex;
    flex-direction : row;
    
    }
    .footer-top-nav-list {
    display : flex;
    justify-content : flex-end;
    align-items : center;
    padding-left: 0;
}
    .footer-logo-link {
    width : 163px;
    height : 36px;
    color : #ffc600;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 48px;
    font-weight : 700;
    text-transform : uppercase;
    letter-spacing : 0.48px;
    }
    .footer-menu-items-link {
    width : 42px;
    height : 11px;
    opacity : 0.699999988079071044921875;
    color : #ffffff;
    font-family : "Open Sans",Arial,sans-serif;
    font-size : 15px;
    font-weight : 300;
    line-height : 36px;
    letter-spacing : 0.15px;
    }
    .footer-logo{
    flex-basis : 693px;
    }
    .footer-logo-index{
        flex-basis: 828px;
    }
    .user-blok-footer {
    flex-basis : 250px;
    }
    .compare-blok-footer {
    flex-basis : 130px;
    }
    .basket-blok-footer {
    flex-basis : 82px;
    }
    
    .user-enter-footer{
        flex-basis: 122px;
    }
    .user-exit{
        opacity: 0.3;
    }

    .user-name-footer::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        width: 13px;
        height: 12px;
        background-image: url(../img/user-name-footer.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .basket-blok-footer a::before{
        content: "";
        position: absolute;
        top: 13px;
        left: 3px;
        width: 12px;
        height: 12px;
        background-image: url(../img/busket-footer.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .compare-blok-footer a::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 5px;
        width: 10px;
        height: 10px;
        background-image: url(../img/compare-footer.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .user-enter-footer a::before {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        width: 13px;
        height: 12px;
        background-image: url(../img/user-enter-footer.png);
        color: #ffc600;
        background-repeat: no-repeat;
        background-position: center;
    }




    .footer-midle-nav {
    display : flex;
    justify-content : flex-start;
    align-items : baseline;
    }
    .footer-midle-nav-links{
        display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 0;
    flex-basis: 631px;
    
    }
    .footer-midle-nav-links a {
    width : 121px;
    height : 15px;
    color : #ffffff;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    line-height : 24px;
    text-transform : uppercase;
    letter-spacing : 3.6px;
    }
    .adress{
        flex-basis: 367px;
        color: #ffffff;
font-family: Open Sans;
font-size: 15px;
font-weight: 300;
line-height: 30px;
    }
    .footer-midle-nav-links li:first-child{
        flex-basis: 159px;
    }
    .footer-midle-nav-links li:nth-child(2){
       flex-basis: 147px;
   }
   .footer-midle-nav-links li:last-child{
       flex-basis: 117px;
   }
    .tel{
    flex-basis: 164px;
    color: #ffffff;
font-family: "Open Sans",Arial,sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 30px;
    }
   
    .social-links-list {
    display : flex;
    justify-content : flex-end;
    }
    .social-links-fb {
    content : url(../img/fb.svg);
    }
    .social-links-instagram {
    content : url(../img/instagram.svg);
    }
    .social-links-twiter {
    content : url(../img/twitter.svg);
    }
    .html-logo-bottom a {
    content : url(../img/logo-html.svg);
    }
    .social-links-item-fb {
    flex-basis : 54px;
    }
    .social-links-item-instagram {
    flex-basis : 54px;
    }
    .social-links-item-twiter {
    flex-basis : 514px;
    }
    .html-logo-bottom {
    flex-basis : 2%;
    }



    /*МОДАЛЬНЫЕ ОКНА*/
    .modal-map {
    width : 960px;
    height : 559px;
    position : relative;
    box-shadow : -2px 5px 30px 3px rgba(0, 0, 0, 0.29);
    margin : 2%;
    }
    iframe {
    width : 100%;
    height : 100%;
    border : none;
    }
    .js-map-close {
    border : none;
    background-color : inherit;
    display : block;
    position : absolute;
    left : 850px;
    top : 30px;
    background-image : url(../img/modal-close.svg);
    background-repeat : no-repeat;
    height : 55px;
    width : 55px;
    opacity : 0.60000002384185791015625;
    }
    .js-map-close:hover {
    opacity : 1;
    }
    .js-map-close:focus {
    outline : none;
    opacity : 0.300000011920928955078125;
    }
    .visually-hidden {
    visibility : hidden;
    }



    .modal-feedback {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    width : 960px;
    height : 553px;
    justify-content : center;
    margin : 2%;
    box-shadow : -2px 5px 30px 3px rgba(0, 0, 0, 0.29);
    }
    .modal-feedback input, .modal-feedback textarea {
    background : #eeeeee;
    border : none;
    opacity : 0.6;
    }
    .modal-feedback input:hover, .modal-feedback textarea:hover {
    background : #eeeeee;
    opacity : 0.8;
    }
    .modal-feedback input:focus, .modal-feedback textarea:focus {
    background : white;
    outline : 2px solid #f7e184;
    }
    .btn-close-fedback {
    align-self : flex-end;
    background-image : url(../img/modal-close.svg);
    background-repeat : no-repeat;
    background-color : inherit;
    background-position : center;
    border : none;
    margin-top : 22px;
    margin-right : 22px;
    height : 58px;
    width : 55px;
    opacity : 0.60000002384185791015625;
    }
    .btn-close-fedback:hover {
    opacity : 1;
    }
    .btn-close-fedback:focus {
    outline : none;
    opacity : 0.300000011920928955078125;
    }
    .feedback-form {
    display : flex;
    }
    .feedback-half {
    display : flex;
    flex-direction : row;
    margin-top : 21px;
    }
    .feedback-half-one {
    display : flex;
    flex-direction : column;
    flex-grow : 1;
    }
    .feedback-half-one > label {
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    }
    .feedback-half-too {
    display : flex;
    flex-direction : column;
    }
    .feedback-half-too > label {
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    }
    .feedback-textarea {
    display : flex;
    flex-direction : column;
    margin-top : 40px;
    }
    .feedback-textarea label {
    color : #000000;
    font-family : "Gilroy",Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    }
    .modal-feedback input[name="email"],.modal-feedback input[name="fullname"] {
    width : 360px;
    height : 50px;
    padding-left : 5px;
    }
   .modal-feedback textarea[name="request"] {
    width : 760px;
    height : 156px;
    resize : none;
    padding-left : 5px;
    }
    .modal-btn {
    margin-top : 55px;
    margin-bottom : 92px;
    height : 44px;
    color : #000000;
    font-family : Gilroy,Arial,sans-serif;
    font-size : 18px;
    font-weight : 700;
    text-transform : uppercase;
    letter-spacing : 2.15px;
    background : linear-gradient(to top, white 0%, white 40%, #f0c52e 40%, #f0c52e 60%, white 60%);
    padding : 10px 20px 10px 20px;
    border : none;
    }
    .modal-btn:hover {
    background : #f0c52e;
    }
    .modal-btn:focus {
    outline : none;
    }
    








  