body{
    width: 1440px;
    height: 2795px; 
    background-color: white;  
}
footer{
    display: flex;
    flex-direction: column;

    width: 1440px;
    height: 323px;
    background-color: #464646;
}

/* задал цвет и размер фона согласно макета */
a{
    text-decoration: none;
}
/* убрал стили для a */

li{
    list-style: none;
}
/* убрал стили для li */
.main-header{   
width: 1160px;
height: 299px;
background-color: #f0c52e;
opacity: 0.5;
margin: 40px 140px auto 140px;
}
/* задали цвет и размер main-header */
.header-logo{
    width: 164px;
height: 36px;
color: #000000;
font-family: "Gilroy - Extra Bold";
font-size: 48px;
font-weight: 400;
line-height: 48px;
text-transform: uppercase;
letter-spacing: 0.26px;
}
.top-menu{
display: flex;

}

/* задали flex top-menu */

 .slider{
     display: flex;
     flex-direction: column;
     position: relative;
     width: 100%;
     margin: -80px 140px auto 140px;


 }
 .slider-control{
position: absolute;
top: 286px;
right: 112px;

 }

.slide-item{
    display: flex;
  width:1160px;
  height:100%;  
  justify-content: center;
}
.slider-item-description{
    margin-left: 125px;
}
.slider-item-description-number{   
position: absolute;
top: -68px;
right: 0px;
width: 198px;
height: 131px;
color: white;
font-family: "Gilroy - Extra Bold";
font-size: 179px;
font-weight: 400;
line-height: 179.2px;
letter-spacing: 0.36px;
}
.slider-item-description-title-1{
    width: 394px;
    height: 98px;
    color: #000000;
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.17px;
    
}

.slider-item-description-text-1{
width: 479px;
height: 46px;
color: #464646;
font-family: "Open Sans";
font-size: 15px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0.15px;
margin-bottom: 62px;
}
.slider-item-description-btn-1{
width: 133px;
height: 15px;
color: #000000;
font-family: "Gilroy - Extra Bold";
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 2.15px;

}
table{
    margin-top: 71px;
}
.td-top-1{
width: 79px;
height: 31px;
color: #000000;
font-family: Gilroy;
font-size: 36px;
font-weight: 300;
line-height: 48px;
letter-spacing: 0.36px;
}
.td-top-2{
width: 61px;
height: 26px;
color: #000000;
font-family: Gilroy;
font-size: 36px;
font-weight: 300;
line-height: 48px;
letter-spacing: 0.36px;
padding-left: 80px;
}
.td-top-3{
width: 124px;
height: 34px;
color: #000000;
font-family: Gilroy;
font-size: 36px;
font-weight: 300;
line-height: 48px;
letter-spacing: 0.36px;
padding-left: 80px;
}
.td-footer-1{
width: 78px;
height: 11px;
color: #464646;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.13px;
}
.td-footer-2{
width: 60px;
height: 9px;
color: #464646;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.13px;
padding-left: 80px;
}
.td-footer-3{
width: 60px;
height: 12px;
color: #464646;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
line-height: 20px;
letter-spacing: 0.13px;
padding-left: 80px;
}
.slider-item-2,.slider-item-3{
display: none;
}


.popular-items-section{
   width: 1160px; 
   margin: 106px 140px auto 140px;
}
/* задали margin для popular-items-section */
.bottom-menu{
    display: flex;
   

}

.sub-menu-one{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    width: 1160px;
}
.popular-items-list{
 display: flex;  
 flex-direction: row;
 justify-content: space-between; 
}
/* задали flex  для выравнивания елементов*/


.popular-items-bg{
    height: 160px;
    width: 160px;
    background-color: #f0c52e;
    opacity: 0.5;    
    
}
.brands{
    display: flex;
    justify-content: space-between;

}
.service{
display: flex;
}
.service-content{
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.about-contacts{
    display: flex;
    justify-content: space-between;
}
.footer-top-nav{
    display: flex;
    flex-direction: row;   
     
}
.footer-top-nav-list{
    display: flex;
    justify-content: center;   
}
.footer-midle-nav{
    display: flex;
    justify-content: center;
}
.social-links-list{
    display: flex;
    justify-content: center;
}

.modal-map{
    width: 960px;
    height: 559px;
    position: relative;
}

.modal-feedback{
   
    width: 960;
    height: 556;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.js-map-close{
    display: block;
    position: absolute;
    left: 850px;
    top:30px;
}

.service-controls{
    display: flex;
}


.sub{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}


.men{
    display: flex;
    margin-left: -40px;
    margin-top: 25px;
}
.bottom-menu{
    display: flex;
    flex-direction: row;
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.empty-1{
    width: 25px;
    
}
.empty-2{
    width: 25px;
}